.container2 {
  background-color: black;
  border: 10px solid rgb(80, 80, 80);
  border-radius: 50px;
  margin: 50px auto;
  width: 98%;
}

@media screen and (min-width:768px) {
  .container2 {
      width: 70%;
  }
}

.detail {
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.detail__image {
  width: 100%;
  margin: 1rem;
  border: 10px solid rgb(80, 80, 80);
  border-radius: 50px;
}

.titi {
  text-align: center;
  color: aliceblue;
}

.content {
  width: 100%;
}

@media screen and (min-width:768px) {
  .detail__image {
      width: 50%;
  }
  .content {
      padding-left: 3rem;
      width: 50%;
  }
}